.flowchart-editor_node{
    position: absolute;
    border: 1px solid black;
    border-radius: 4px;
    background: whitesmoke;
    z-index: 5;
}

.flowchart-editor_node._selected{
    border: 1px solid cornflowerblue;
}